# Markdown
## Markdown
### Markdown

# insert site address
[site](https://www.google.com/search?q=gitam+parent+portal&rlz=1C1CHBD_enIN786IN786&oq=gitam+parent+portal&aqs=chrome..69i57j0l7.10145j0j7&sourceid=chrome&ie=UTF-8)

# insert image address
![text](https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)

# Pythons Basics:
python is a begineers language

python is easy to learn

# Creating  ordered list
1.abc
2.xyz
    1.a
    2.r

# Creating unordered list
- aby
- vyu
   -dr
   -rt

## BOLD  and italic text
**GITAM**

*UNIVERSITY*

In [1]:
#Basic hello
print("hello world!!")

hello world!!

In [2]:
#variable creation
x=10
y=20
x+y

30

# Rules for variables

- name should begin with a character
- no special character allowed except_

In [4]:
name ="ajay"
age =20
print("my name is:",name,"age is:",age)

my name is: ajay age is: 20

In [7]:
name =input("enter name")
age =int(input( "enter age"))
print("my name is:",name,"age is:,age")

enter namesreeja
enter age20
my name is: sreeja age is:,age

In [10]:
x =10
y =20
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)

30
-10
200
0.5
10

In [11]:
x =int (input("enter a value"))
y =int(input("enter a value"))
print(x+y)
print(x-y)
print(x*y)
print(x%y)
print(x/y)

enter a value19
enter a value7
26
12
133
5
2.7142857142857144

# fundamental datatypes
- int
- float
- complex
- boolean
- string

In [12]:
x =10
y =12.32
z =5+6j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [13]:
c =complex(2,3)
print(c)

(2+3j)

In [14]:
c1 =3+3j
c2 =5+6j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(8+9j)
(-2-3j)
(-3+33j)

In [17]:
a = True
b = False
a < b

False

In [18]:
#string
s1 = "abc"
s2 = "bgy"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [20]:
i = 100
print(type(i))
s1 =str(i)
print(type(s1))
f1 = float(i)
print(float(f1))

<class 'int'>
<class 'str'>
100.0

In [21]:
# length
a = 1234
print(len(str(a)))

4

In [22]:
n1 = 100 #single variable assignment
a=b=c= 20 
a1,b1,c1 = 10,2,3
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
10 2 3

# precedence of the Arth operations
- parenthesis
- power
- multiplication
- addition

In [23]:
x = 1 + 2 ** 3 / 4+5
print(x)

8.0

In [25]:
x =1 + 2 ** 3 /4 *5
print(x)

11.0

In [27]:
x = (3+5) + 1 +2 ** 3/4 *5
print(x)

19.0

# OPERATORS
## ARITHMETIC OPERATORS
- +
- -
- *
- /
- %
- **
- //

In [28]:
x =10
y = 12
print(x+y)
print(x-y)
print(x%y)
print(x/y)
print(x//y)
print(x**y)
print(x*y)

22
-2
10
0.8333333333333334
0
1000000000000
120

# Relational operators
- ==,!=,<,>=,>

In [29]:
x = 5
a = x > 10
print(a)

False

# Logical opearotor
- and
- or
- not

In [33]:
i = 100
a1 =(i>15) and  (i>76)
a2 =(i >546) or (i>568)
print(a1)
print(a2) 
print(not i)

True
False
False

# Membership operator
- in
- not in

In [35]:
str1 ="abc"
print('a' in str1)
print('a' not in str1)

True
False

# Control flow statements
- Conditional statements
- looping statements
- if  - else statement
- syntax
#### if condition:
> statements<br>
#### else:
> statements

In [37]:
# check given number is even or odd
n = int(input("enter a value"))
if n%2 ==0:
    print("even")
else:
        print("odd")

enter a value5
odd

In [43]:
#check given number is perfectly multiple of 3 and 5
n = int(input("enter a value"))
if n%3 ==0 and n%5 ==0:
    print("multiple")
else:
   print("not a multiple")

enter a value5
not a multiple

In [44]:
#check given number is positive, negative or zero
n = int(input("enter a value"))
if n>o:
   print("positive")

    print("negative")
  
elif n<0

SyntaxError: invalid syntax (<ipython-input-44-77e169fd45e8>, line 5)